
   <section class="itens">
    <div class="lista">
        <h3>Lista de Produtos:</h3>
    </div><!--lista-->

    <div class="container">
        <div class="produtos">
            <div *ngFor="let item of itens, let i = index" class="produto-uni">
                   
                <a [routerLink]="['/editar',i]" >
                    Codigo {{item.codigo}} 
                    Peça {{item.peca}}
                    Estoque {{item.estoque}} /{{item.maxEstoque}}
                    min Estoque  ({{item.minEstoque}}) </a>
               
            </div><!--produto-uni-->
        </div><!--produtos-->

  


    </div><!--container-->
    

</section><!--itens-->